$padding-color: #0030ae;
$background-color: #dff3fd;
$filter-bg: #9db8ef;
$table-header-bg: #4c6bde;
$table-body-bg: #dff3fd;
$text-color: black;

body {
    background-color: $padding-color;
    padding: 25px;
    box-sizing: border-box;
    overflow: auto;
    color: $text-color;
}

body::after {
  content: "";
  background: url("https://64.media.tumblr.com/3a4e9df2f9cc3ca54fedf892e7dc6d4f/190bc024716ebf7e-36/s1280x1920/852108786621f9d830fc209fbd4d112692d37f0d.png");
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  overflow: auto;
}

.container {
    background-color: $background-color;
}

.searchTable {
    flex: 1 1 0;
}

form {
    background-color: $filter-bg;
    min-height: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.filterSection {
    display: flex;
    flex-direction: column;

    .basicFilters {
        padding-bottom: 10px;
    }

    .subFilters {
        display: flex;
        flex-direction: row;

        > div {
            flex: 1 1 auto;
        }
    }

    .filterOptions {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        flex-wrap: wrap;

        .filterOption {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0 10px;

            h5 {
                width: 100%;
            }

            .filterOptionValues {
                overflow: visible;
                height: 100%;
                display: flex;
                align-items: flex-start;
                flex-direction: column;

                label {
                    text-align: left;
                }
            }
        }
    }
}

table {
    position: relative;
    display: block;
    flex: 0 1 100%;
    border-collapse: collapse;
    min-width: 100%;

    thead {
        position: sticky;
        top: 0;

        th {
            background-color: $table-header-bg;
            border-bottom: 2px solid black;
        }
    }

    tbody {
        background-color: $table-body-bg;
    }

        th, td {
            padding: 10px 5px;
        }
}

.filterBtn {
    display: None;
}

@media screen and (max-width: 950px) {
    body {
        padding: 0;
    }

    .searchTable {
        flex: 0 0 auto;
    }

    .filterSection .subFilters > div{
        flex: 0 0 auto;
    }
}

.teamFab {
    position: fixed !important;
    right: 16px;
    bottom: 80px;
}

.filterFab {
    position: fixed !important;
    right: 16px;
    bottom: 16px;
}

:global(.MuiSelect-select) {
    min-width: 125px !important;
}

:global(.MuiDrawer-paper) {
    max-width: calc(100% - 50px);
}

.dropdownItem {
    min-height: 36px !important;
}